.header_menu{
    margin-bottom: 0;
}
.header_menu li{
    display: inline-block;
}
.header_menu li a{
    text-decoration: none;
    color: #1d325c;
    font-size: 17px;
    font-weight: 600;
    padding: 0 10px;
}

.about_border{
    border: 1px solid #ddd;
}

.service h3{
    color: #f8f9fa;
    margin-bottom: 20px;
}

